In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [2]:
df1 = pd.read_csv('C:/Users/forre/Desktop/Python/datasets/datasets-master/Crime_Data_from_2010_to_2019.csv')

df2 = pd.read_csv('C:/Users/forre/Desktop/Python/datasets/datasets-master/Crime_Data_from_2020_to_Present.csv')

In [3]:
df1.tail()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
2117900,190506304,02/22/2019 12:00:00 AM,02/22/2019 12:00:00 AM,840,5,Harbor,569,2,627,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,...,AO,Adult Other,627.0,NaN,NaN,NaN,100 W 22ND ST,NaN,33.7257,-118.2801
2117901,190715222,08/15/2019 12:00:00 AM,08/14/2019 12:00:00 AM,1810,7,Wilshire,701,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),...,IC,Invest Cont,331.0,NaN,NaN,NaN,WILLOUGHBY AV,ORLANDO AV,34.0871,-118.3732
2117902,192004409,01/06/2019 12:00:00 AM,01/06/2019 12:00:00 AM,2100,20,Olympic,2029,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,IC,Invest Cont,930.0,NaN,NaN,NaN,6TH,VIRGIL,34.0637,-118.2870
2117903,191716777,10/17/2019 12:00:00 AM,10/16/2019 12:00:00 AM,1800,17,Devonshire,1795,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,17200 NAPA ST,NaN,34.2266,-118.5085
2117904,190805435,02/01/2019 12:00:00 AM,02/01/2019 12:00:00 AM,1615,8,West LA,852,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,NaN,NaN,NaN,1700 BARRY AV,NaN,34.0420,-118.4531

In [4]:
df2.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,201220752,09/16/2020 12:00:00 AM,09/16/2020 12:00:00 AM,1230,12,77th Street,1259,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,700 E 73RD ST,NaN,33.9739,-118.2630
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [5]:
#Merging the two dataframes together
df = pd.merge(df1, df2, how = 'outer')

In [6]:
#showing the number of Rows and Columns (2419391 rows, 29 columns)
df.shape

(2419391, 29)

In [7]:
df['Vict Sex']

0            M
1            M
2            M
3            F
4            F
          ...
2419386    NaN
2419387      F
2419388      M
2419389      F
2419390    NaN
Name: Vict Sex, Length: 2419391, dtype: object

In [8]:
df.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA              float64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
AREA              float64
dtype: object

In [9]:
#Converting to DateTime
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'])

In [10]:
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

In [11]:
df['TIME OCC'] = pd.to_datetime(df['TIME OCC'])

In [12]:
#Dropping columns from dataset
df.drop(columns = ['DR_NO','Part 1-2', 'LAT', 'LON', 'AREA', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4'], inplace = True)

In [13]:
#Converting Female to 1 and Male to 0
df['Vict Sex'] = df['Vict Sex'].map({'F' : 1, 'M' : 0})

In [14]:
df.dtypes

Date Rptd         datetime64[ns]
DATE OCC          datetime64[ns]
TIME OCC          datetime64[ns]
AREA                     float64
AREA NAME                 object
Rpt Dist No                int64
Crm Cd                     int64
Crm Cd Desc               object
Mocodes                   object
Vict Age                   int64
Vict Sex                 float64
Vict Descent              object
Premis Cd                float64
Premis Desc               object
Weapon Used Cd           float64
Weapon Desc               object
Status                    object
Status Desc               object
Crm Cd 1                 float64
LOCATION                  object
Cross Street              object
dtype: object

In [15]:
df.drop(columns = ['Weapon Used Cd', 'AREA NAME', 'Crm Cd Desc', 'Mocodes', 
                   'Vict Descent', 'Premis Desc', 'Weapon Desc', 'Status', 
                   'Status Desc', 'LOCATION', 'Cross Street'], inplace = True)

In [16]:
df.isnull().sum()

Date Rptd           0
DATE OCC            0
TIME OCC            0
AREA           301486
Rpt Dist No         0
Crm Cd              0
Vict Age            0
Vict Sex       316316
Premis Cd          58
Crm Cd 1           12
dtype: int64

In [17]:
df.dropna(inplace = True)

In [18]:
df.shape

(1865825, 10)

In [19]:
df.corr().style.background_gradient()

In [20]:
x = df[['AREA ', 'Rpt Dist No', 'Crm Cd', 'Vict Age', 'Premis Cd', 'Crm Cd 1']]
y = df['Vict Sex']

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = .1)

In [22]:
x_train.shape

(1679242, 6)

In [23]:
x_test.shape

(186583, 6)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
model = LinearRegression()

model.fit(x_train, y_train)

LinearRegression()

In [26]:
model.score(x_train, y_train)

0.025992331637470056

In [27]:
model.score(x_test, y_test)

0.027765278622063683

In [28]:
y_pred = model.predict(x_test)

In [29]:
from sklearn import metrics
from sklearn.neural_network import MLPClassifier

In [30]:
metrics.mean_absolute_error(y_test, y_pred)

0.4855704654834009

In [31]:
metrics.mean_squared_error(y_test, y_pred)

0.2425817524675688

In [32]:
from sklearn.neural_network import MLPClassifier

In [37]:
mlp = MLPClassifier(hidden_layer_sizes = (4, 9), max_iter = 2000)

In [38]:
mlp.fit(x_train, y_train)

MLPClassifier(hidden_layer_sizes=(4, 9), max_iter=2000)

In [39]:
mlp.score(x_train, y_train)

0.5926685969026502

In [40]:
mlp.score(x_test, y_test)

0.5938268759747672